#build {
	background-image: url(./build.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100vh;
	justify-content: baseline;
}

#play {
	position: absolute;
	border-radius: 50%;
	padding: 2em;
}

span {
	font-size: 1em;
}
