#build {
	background-image: url(./build.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100vh;
	margin: 0;
	border-radius: 0;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
}

#play-btn {
	border-radius: 50%;
	padding: 1.5em 1em;
	grid-column-start: 2;
	grid-row-start: 3;
	justify-self: center;
	align-self: center;
}

span {
	font-size: 1em;
}

#modal {
	max-width: 70%;
}

@media only screen and (max-width: 600px) {
	#modal {
		max-width: 90%;
	}
}

#walk-with-me {
	background-color: #1f1a24;
	color: white;
}

#video-container {
	background-color: #1f1a24;
}

#about {
	border-radius: 0;
	background-color: #f2e9e4;
}

.about {
	margin: 0 10em;
}

#quote {
	display: grid;
	justify-content: center;
}

#about-btn {
	display: grid;
	justify-content: center;
}

#quote_citation {
	display: grid;
	justify-content: end;
	margin: 0 10em;
}

.contact {
	margin: 0 10em;
}

.contact {
	padding: 2em;
}

#contact {
	border-radius: 0;
}
