.footer {
	margin: -2em 0;
	background-color: #2d3142;
}

#navbar {
	padding: 2em;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

#login {
	grid-column-start: 2;
	justify-self: center;
}

#follow-p {
	text-decoration: underline;
}

.follow {
	color: white;
	justify-self: center;
}

.socials {
	list-style-type: none;
}

.social-links {
	color: white;
	text-decoration: none;
}
